<footer>
 <p> created by andrew meed copyright{{getCurrentYear}}</p><!--handlebar first going to look in the helper for that functio name if it is not present then it will go to the piece of data that is bieng inserted using the res.render -->
</footer>
