<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Some website</title>
</head>
<body>
  <header>
{{> header}}
   <p>{{screamIt Welcome}}</p><!--give the elper name and the argument for the helper method which will convert in to the uppercase letter -->
<h1>Home page</h1>
<p>some text here<p>
  {{> footer}}
</body>
</html>
